body {
    width: 360px;
    height: 240px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: #e1e1db;
    background-color: #181818;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 14px;
}
div,
button {
    font-family: inherit;
}
div.ext-main {
    padding: 18px;
}

.ext-h2 {
    color: #598bdd;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
#ext-closePopupBtn {
    position: absolute;
    top: 1.0rem;
    right: 0.5rem;
    width: 40px;
    height: 32px;
    cursor: pointer;
}
#ext-loadingSpinner {
    width: 60px;
    height: 60px;
    display: none;
}

button {
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #004182;
    color: #e1e1db;
    font-size: 1.12em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: none;
}
button:hover {
    background-color: #3071b2;
}
.ext-buttonRow {
    display: flex;
    align-items: center;
}

#ext-status {
    padding: 8px 18px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background-color: #333;
    display: none;
}
#ext-status::before {
  content: "";
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 6px;
  vertical-align: -0.2em;
}
.ext-status--error {
    color: #f55;
}
.ext-status--error::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d32f2f' viewBox='0 0 24 24'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z'/%3E%3C/svg%3E");
}
.ext-status--warning {
    color: #cc9;
    font-weight: bold;
    font-style: italic;
}
.ext-status--warning::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FDC674' viewBox='0 0 24 24'%3E%3Cpath d='M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z'/%3E%3C/svg%3E");
}