:root {
  --icon-error: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d32f2f' viewBox='0 0 24 24'%3E%3Cpath d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z'/%3E%3C/svg%3E");
  --icon-warning: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FDC674' viewBox='0 0 24 24'%3E%3Cpath d='M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z'/%3E%3C/svg%3E");
}

body {
    width: 360px;
    height: 392px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: #e1e1db;
    background-color: #181818;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 14px;
}
div,
button {
    font-family: inherit;
}
div.ext-main {
    padding: 18px 18px 10px 18px;
}

.ext-h2 {
    color: #598bdd;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}
.ext-loadingSpinner {
    width: 60px;
    height: 60px;
    display: none;
}
#ext-closePopupBtn {
    position: absolute;
    top: 1.0rem;
    right: 0.5rem;
    width: 40px;
    height: 32px;
    cursor: pointer;
}

.ext-btn {
    width: 172px;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background: #004182;
    color: #e1e1db;
    font-size: 1.12em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: none;
}
.ext-btn:hover {
    background-color: #3071b2;
}
.ext-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
.ext-btn:disabled:hover {
  background: #004182;
}
.ext-buttonRow {
    padding-top: 6px;
    display: flex;
    align-items: center;
}
.ext-buttonRow--secondary {
    margin-top: 10px;
	border-top: 1px solid grey;
}

#ext-export-info {
    font-size: .8em;
    font-weight: 400;
    font-style: italic;
    padding-top: 6px;
}

#ext-status {
    padding: 8px 0px 12px 22px;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background-color: #333;
    display: none;
}
#ext-status::before {
  content: "";
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  height: 16px;
  /*margin-right: 6px;*/
  vertical-align: -0.2em;
}
.ext-status--error {
    color: #f55;
}
.ext-status--error::before {
    width: 16px;
    background-image: var(--icon-error);
    padding: 0px 2px;
}
.ext-status--warning {
    color: #cc9;
    font-style: italic;
}
.ext-status--warning::before {
    width: 16px;
    background-image: var(--icon-warning);
    padding: 0px 2px;
}
